<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholar Articles</title>
</head>
<body>
    <h1>Scholar Articles</h1>
    <p>"Hello, {{name}}, how are you?"</p>
    <table>
        <thead>
          <tr>
            <th>SL</th>
            <th>Title</th>
            <th>Abstract</th>
          </tr>
        </thead>
        <tbody>
        %for i, article in enumerate(data):
            <tr>
                <td>{{i + 1}}</td>
                <td><a href="{{article.get('link', '#')}">{{article.get('title', 'Not found')}}</a></td>
                <td>{{article.get('abstract', 'Not found')}}</td>
            </tr>
        %end
        </tbody>
    </table>

</body>
</html>