<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholar Articles</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <header class="row header py-4">
            <h1 class="text-center">Scholar Articles</h1>
        </header>
        <div class="row data">
            <table class="table table-striped ">
                <thead class="table-primary">
                <tr class="text-center">
                    <th scope="col">SL</th>
                    <th scope="col">Search Key</th>
                    <th scope="col">Title</th>
                    <th scope="col">Abstract</th>
                </tr>
                </thead>
                <tbody>
                %for i, article in enumerate(articles):
                    <tr scope="row">
                        <td>{{ base_index + i + 1}}</td>
                        <td>{{article.get('key', '').split("_")[0]}}</td>
                        <td><a href="{{article.get('link', '#')}}" target="_blank">{{article.get('title', 'Not found')}}</a></td>
                        <td>{{article.get('abstract', 'Not found')}}</td>
                    </tr>
                %end
                </tbody>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-center">
                  <li class="page-item {{'disabled' if page == start_page else ''}}"><a class="page-link" href="/{{start_page}}">Start</a></li>
                  <li class="page-item {{'disabled' if page == start_page else ''}}"><a class="page-link" href="/{{page - 1 if page > start_page else start_page}}">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="/{{page}}">{{page}}</a></li>
                  <li class="page-item {{'disabled' if page + 1 > end_page else ''}}"><a class="page-link" href="/{{page + 1 if page + 1 <= end_page else end_page}}">{{page + 1 if page + 1 <= end_page else ".."}}</a></li>
                  <li class="page-item {{'disabled' if page + 2 > end_page else ''}}"><a class="page-link" href="/{{page + 2 if page + 2 <= end_page else end_page}}">{{page + 2 if page + 2 <= end_page else ".."}}</a></li>
                  <li class="page-item {{'disabled' if page + 1 > end_page else ''}}"><a class="page-link" href="/{{page + 1 if page + 1 <= end_page else end_page}}">Next</a></li>
                  <li class="page-item {{'disabled' if page == end_page else ''}}"><a class="page-link" href="/{{end_page}}">End</a></li>
                </ul>
              </nav>
        </div>
    </div>
    <div class="container-fluid bg-primary text-white text-secondary text-center py-5">
        <div>Built with ♥ by <a class="text-dark" href="mailto:subrata_sarker@yahoo.com" target="_blank">Subrata Sarker</a></div>
        <div>&copy; 2022 Scholar Articles</div>
    </div>
</body>
</html>